<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	
	<servlet>
		<description></description>
		<display-name>PopulateServlet</display-name>
		<servlet-name>PopulateServlet</servlet-name>
		<servlet-class>fr.upmc.aar.servlet.PopulateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PopulateServlet</servlet-name>
		<url-pattern>/PopulateServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>AddCommentServlet</display-name>
		<servlet-name>AddCommentServlet</servlet-name>
		<servlet-class>fr.upmc.aar.servlet.AddCommentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddCommentServlet</servlet-name>
		<url-pattern>/AddCommentServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>fr.upmc.aar.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>RegisterUserServlet</display-name>
		<servlet-name>RegisterUserServlet</servlet-name>
		<servlet-class>fr.upmc.aar.servlet.RegisterUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterUserServlet</servlet-name>
		<url-pattern>/RegisterUserServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>SendPasswordServlet</display-name>
		<servlet-name>SendPasswordServlet</servlet-name>
		<servlet-class>fr.upmc.aar.servlet.SendPasswordServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SendPasswordServlet</servlet-name>
		<url-pattern>/SendPasswordServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>MovieCommentServlet</display-name>
		<servlet-name>MovieCommentServlet</servlet-name>
		<servlet-class>fr.upmc.aar.servlet.MovieCommentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MovieCommentServlet</servlet-name>
		<url-pattern>/MovieCommentServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>NewAccountMailServlet</display-name>
		<servlet-name>NewAccountMailServlet</servlet-name>
		<servlet-class>fr.upmc.aar.servlet.NewAccountMailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NewAccountMailServlet</servlet-name>
		<url-pattern>/NewAccountMailServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>MovieDetailsServlet</display-name>
		<servlet-name>MovieDetailsServlet</servlet-name>
		<servlet-class>fr.upmc.aar.servlet.MovieDetailsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MovieDetailsServlet</servlet-name>
		<url-pattern>/MovieDetailsServlet</url-pattern>
	</servlet-mapping>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>cron</web-resource-name>
			<url-pattern>/PopulateServlet</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
	<welcome-file-list>
		<welcome-file>welcome.jsp</welcome-file>
	</welcome-file-list>
</web-app>